* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.cartPopup {
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
    z-index: 5;
    position: fixed;
    top: 0;
    right: -400px;
    color: #333;
    transition: 1s;
    z-index: 3;

    .cartHeader {
        width: 100%;
        display: flex;
        padding: 10px 20px;
        font-size: 32px;
    }

    .cartHeader i {
        background: var(--gradient2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
        cursor: pointer;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .cartPopupContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: auto;
        padding: 0 10px;

        .cart {
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            background-color: #c1d0e4;
            margin: 20px;
            padding: 0 0 0 10px;

            .cartInfo {
                width: 65%;
                background-color: #fff;
                height: 150px;
                position: relative;
                border-radius: 20px;
                box-shadow: 0 5px 5px #eee;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px 20px;

                i {
                    background: var(--gradient2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
                    cursor: pointer;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .fa-trash-can {
                    align-self: flex-end;
                }
            }

            img {
                height: 120px;
            }
        }
    }

    .cartPopupContainer::-webkit-scrollbar {
        display: none;
    }
}

.header {
    padding: 0 120px;
}

.price {
    svg {
        width: 205px;
        height: 115.744px;
        ;
    }
}

.secondPage {
    padding: 0 120px;
}

.wrap {
    width: 100%;
    min-height: 100vh;

    // homePage 
    .homePage {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .header {
            width: 100%;
            min-height: 10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                display: flex;
                align-items: center;

                h2 {
                    margin-left: 3px;
                    color: #FFF;
                    text-align: center;
                    font-family: 'Inter';
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }

            .nav {
                ul {
                    display: flex;
                    align-items: center;
                    list-style-type: none;

                    li {
                        margin-right: 70px;

                        .gredient {
                            a {
                                text-align: center;
                                font-family: 'Work Sans';
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                                background: var(--gradient2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: #fff;
                            text-align: center;
                            font-family: 'Work Sans';
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }

                i {
                    color: #fff;
                    display: none;
                    font-size: 20px;
                    cursor: pointer;
                }
            }

            .buy {
                i {
                    font-size: 21px;
                    color: #FFF;
                    cursor: pointer;

                    a {
                        text-decoration: none;
                    }
                }

                .colo {
                    position: absolute;
                    right: 109px;
                    top: 20px;
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    border-radius: 50%;
                    background: var(--gradient2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: #2D3949;
                        text-align: center;
                        font-family: 'Work Sans';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: 1px;
                    }
                }
            }
        }

        .container {
            width: 100%;
            height: 90vh;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 100%;
                height: 100vh;
                position: absolute;
                z-index: -1;
                top: 0;
            }

            .leftblock {
                width: 15%;
                height: 90vh;

                .lap1 {
                    position: relative;
                    left: 93px;
                    top: 190px;
                    display: none;
                }

                .lap2 {
                    position: relative;
                    left: 148px;
                    top: 260px;
                    display: none;
                }
            }

            .centerblock {
                width: 70%;
                height: 70vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 300px;

                h1 {
                    color: #FFF;
                    text-align: center;
                    font-family: 'Work Sans';
                    font-size: calc(50px + 0.5vw);
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    padding: 0 60px;
                }

                p {
                    color: #FFF;
                    text-align: center;
                    font-family: 'Work Sans';
                    font-size: calc(10px + 0.5vw);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 36px */
                }

                .poshuk {
                    input {
                        display: flex;
                        width: 463px;
                        padding: 15px 24px;
                        align-items: flex-start;
                        gap: 8px;
                        border-radius: 50px;
                        border: 1px solid #FFF;
                        background: rgba(255, 255, 255, 0.20);
                        backdrop-filter: blur(10px);
                    }

                    input::placeholder {
                        color: #FFF;
                        font-family: 'Work Sans';
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .search {
                        position: relative;
                        bottom: 44px;
                        left: 418px;
                        width: 40px;
                        height: 40px;
                        border: none;
                        border-radius: 50%;
                        background: var(--gradient2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }

            .rightblock {
                width: 15%;
                height: 90vh;

                .lap3 {
                    position: absolute;
                    right: 100px;
                    top: 400px;
                    display: none;
                }

                .price {
                    display: none;

                    svg {
                        width: 205px;
                        height: 115.744px;
                        position: absolute;
                        right: 20px;
                        top: 270px;
                    }

                    .text {
                        width: 150px;
                        height: 70px;
                        position: relative;
                        right: -15px;
                        top: 210px;

                        h3 {
                            color: #FFF;
                            font-family: 'Work Sans';
                            font-size: calc(24px + 0.5vw);
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        p {
                            margin-top: 10px;
                            color: #FFF;
                            font-family: 'Work Sans';
                            font-size: calc(10px + 0.5vw);
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }

    // homePage END 
    // secondPage 
    .secondPage {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .advantages {
            width: 100%;
            min-height: 20vh;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .freeshopping {
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                    width: 60px;
                }

                .text {
                    h2 {
                        color: var(--font, #081323);
                        font-family: 'Work Sans';
                        font-size: calc(12px + 0.8vw);
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    p {
                        color: var(--Gray-3, #828282);
                        font-family: 'Work Sans';
                        font-size: calc(8px + 0.5vw);
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }

            .quickpayment {
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                    width: 60px;
                }

                .text {
                    h2 {
                        color: var(--font, #081323);
                        font-family: 'Work Sans';
                        font-size: calc(12px + 0.8vw);
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    p {
                        color: var(--Gray-3, #828282);
                        font-family: 'Work Sans';
                        font-size: calc(8px + 0.5vw);
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }

            .support {
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                    width: 60px;
                }

                .text {
                    h2 {
                        color: var(--font, #081323);
                        font-family: 'Work Sans';
                        font-size: calc(12px + 0.8vw);
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    p {
                        color: var(--Gray-3, #828282);
                        font-family: 'Work Sans';
                        font-size: calc(8px + 0.5vw);
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }
        }

        .flowers {
            width: 100%;
            min-height: 60vh;
            margin-bottom: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .textblock {
                width: 20%;
                height: 25vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2 {
                    color: var(--font, #081323);
                    font-family: 'Work Sans';
                    font-size: calc(28px + 00.8vw);
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                p {
                    color: var(--Gray-2, #4F4F4F);
                    font-family: 'Work Sans';
                    font-size: calc(12px + 00.8vw);
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    display: flex;
                    align-items: center;
                }
            }

            .flowerblock {
                max-width: 900px;
                min-height: 500px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .plantItem {
                    width: 300px;
                    min-height: 200px;
                    background-color: #C1D0E4;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 50px;
                    margin: 10px;
                }

                .plantItemInfo {
                    width: 100%;
                    background-color: #fff;
                    height: 200px;
                    position: relative;
                    top: 40px;
                    border-radius: 50px;
                    box-shadow: 0 2px 5px #eee;
                    padding: 30px 35px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h3 {
                        font-size: calc(13px + 0.8vw);
                    }

                    .plangItemGroup {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        p {
                            font-size: calc(12px + 0.8vw);
                        }

                        button {
                            border-radius: 50%;
                            border: none;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .plantItem img {
                    height: 200px;
                }
            }
        }
    }

    // secondPage END 
    // threethPage
    .threethPage {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 120px;

        .textblock {
            width: 100%;
            height: 25vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            h2 {
                color: var(--font, #081323);
                font-family: 'Work Sans';
                font-size: 64px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 30px;
                margin-top: 40px;
            }

            p {
                color: var(--Gray-2, #4F4F4F);
                font-family: 'Work Sans';
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 40px;
            }
        }

        .photoblock {
            width: 100%;
            min-height: 80vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .leftblock {
                width: 49%;
                max-height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .imgblock1 {
                    width: 100%;
                    height: 39vh;
                    background-image: url(./img/brown-sofa-wooden-table-living-room-interior-with-plant-concrete-wall.png);
                    background-position: center;
                    background-size: cover;
                    border-radius: 50px;
                    background-color: red;
                    margin-bottom: 2vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    filter: brightness(50%);

                    p {
                        color: #FFF;
                        font-family: 'Work Sans';
                        font-size: calc(32px + 00.8vw);
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        filter: none;
                    }
                }

                .imgblock2 {
                    width: 100%;
                    height: 39vh;
                    background-image: url(./img/high-angle-desk-arrangement-with-plants.png);
                    background-position: center;
                    background-size: cover;
                    border-radius: 50px;
                    background-color: blue;
                }
            }

            .rightblock {
                width: 49%;
                max-height: 70vh;
                display: flex;
                justify-content: center;
                align-items: center;

                .imgblock3 {
                    width: 100%;
                    height: 80vh;
                    background-image: url(./img/unsplash_MBsReSZ2WNM.png);
                    background-position: center;
                    background-size: cover;
                    border-radius: 50px;
                    background-color: green;
                }
            }
        }
    }

    // threethPage END 
    // fourthPage
    .fourthPage {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 120px;

        .leftblock {
            width: 50%;
            min-height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .text {
                width: 100%;
                min-height: 15vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 20px;

                h2 {
                    color: var(--font, #081323);
                    font-family: 'Work Sans';
                    font-size: calc(32px + 0.8vw);
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                p {
                    color: var(--Gray-2, #4F4F4F);
                    font-family: 'Work Sans';
                    font-size: calc(12px + 0.8vw);
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .mainblock {
                width: 100%;
                min-height: 60vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .block {
                    width: 100%;
                    height: 12.4vh;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .leftblock {
                        width: 20%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-self: center;
                    }

                    .textblock {
                        width: 80%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 10px 0;

                        h2 {
                            color: #000;
                            font-family: 'Work Sans';
                            font-size: calc(16px + 0.8vw);
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                        p {
                            color: var(--Gray-2, #4F4F4F);
                            font-family: 'Work Sans';
                            font-size: calc(8px + 0.6vw);
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }
        }

        .rightblock {
            width: 50%;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .photoblock {
                width: 90%;
                height: 90%;
                background-image: url(./img/unsplash_sEApBUS4fIk.png);
                // background-size: cover;
                border-radius: 50px;
                background-position: center;
                background-size: cover;
            }
        }
    }

    // fourthPage END
    // footer 
    .footer {
        width: 100%;
        min-height: 60vh;
        background-color: #4b5766;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 100px;

        .topblock {
            width: 100%;
            height: 35vh;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .leftblock {
                width: 25%;
                height: 30vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px 0;

                h2 {
                    color: #FFF;
                    font-family: 'Work Sans';
                    font-size: calc(24px + 0.8vw);
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .inputblock {
                    input {
                        display: flex;
                        width: 100%;
                        padding: 14px 20px;
                        align-items: flex-start;
                        border-radius: 50px;
                        border: 1px solid #FFF;
                        background: rgba(255, 255, 255, 0.20);
                        backdrop-filter: blur(10px);
                    }

                    input::placeholder {
                        color: #FFF;
                        font-family: Work Sans;
                        font-size: calc(6px + 0.5vw);
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    button {
                        position: relative;
                        z-index: 2;
                        min-width: 100px;
                        min-height: 46px;
                        border-radius: 50px;
                        background: var(--gradient2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
                        border: none;
                        bottom: 46px;
                        left: 225px;

                        p {
                            color: #FFF;
                            text-align: center;
                            font-family: 'Work Sans';
                            font-size: calc(6px + 0.6vw);
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            top: 100px;
                        }
                    }
                }
            }

            .rightblock {
                width: 70%;
                height: 40vh;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .textblock {
                    width: 23%;
                    height: 30vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding-bottom: 50px;

                    h2 {
                        color: #FFF;
                        font-family: 'Work Sans';
                        font-size: calc(12px + 0.8vw);
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%;
                        /* 33.6px */
                    }

                    a {
                        color: #FFF;
                        text-decoration: none;
                        font-family: 'Work Sans';
                        font-size: calc(8px + 0.5vw);
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        /* 24px */
                    }
                }

                .textblock1 {
                    width: 23%;
                    height: 30vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding-bottom: 100px;

                    h2 {
                        color: #FFF;
                        font-family: 'Work Sans';
                        font-size: calc(12px + 0.8vw);
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%;
                        /* 33.6px */
                    }

                    a {
                        color: #FFF;
                        text-decoration: none;
                        font-family: 'Work Sans';
                        font-size: calc(8px + 0.5vw);
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        /* 24px */
                    }
                }

                .twxtblock2 {
                    width: 30%;
                    height: 30vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding-bottom: 100px;

                    h2 {
                        color: #FFF;
                        font-family: 'Work Sans';
                        font-size: calc(12px + 0.8vw);
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%;
                        /* 33.6px */
                    }

                    a {
                        color: #FFF;
                        text-decoration: none;
                        font-family: 'Work Sans';
                        font-size: calc(7px + 0.5vw);
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        /* 24px */
                    }
                }
            }
        }

        hr {
            width: 100%;
            background-color: #fff;
        }

        .bottomblock {
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            p {
                margin-top: 20px;
                color: #FFF;
                font-family: 'Work Sans';
                font-size: calc(10px + 0.7vw);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    // footer END 
}

@media screen and (max-width: 1300px) {

    // homePage
    .leftblock {
        .lap1 {
            margin-left: -25px;
        }

        .lap2 {
            margin-left: -30px;
        }
    }

    .text {
        left: -20px;
    }

    // homePge END
    // secondPage 
    .secondPage {
        padding: 0 30px;
    }

    // secondPage END

    .wrap {
        .footer {
            .topblock {
                .leftblock {
                    .inputblock {
                        button {
                            left: 175px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .flowers {
        flex-direction: column;
    }

    .wrap {
        .secondPage {
            .flowers {
                .textblock {
                    width: 100%;
                    padding: 30px 0;
                    flex-direction: column;
                    align-items: center;
                }

                .flowerblock {
                    .block {
                        .fonblock {
                            top: 1140px;
                        }
                    }
                }
            }
        }

        .threethPage {
            padding: 0 20px;
        }

        .fourthPage {
            padding: 0 20px;
        }

        .footer {
            padding: 100px 20px;
        }
    }
}

@media screen and (max-width: 1100px) {

    // homePage
    .header {
        padding: 0 30px;

        .colo {
            margin-top: 15px;
            margin-right: -90px;
        }
    }


    .leftblock {
        .lap1 {
            // margin-top: -25px;
            margin-left: -35px;
        }

        .lap2 {
            margin-left: -55px;
        }
    }

    .rightblock {
        .lap3 {
            margin-right: -25px;
        }

        .price {
            svg {
                margin-right: -20px;
            }

            .text {
                // margin-top: -35px;
                margin-left: 10px;
            }
        }
    }

    // homePage END 
}

@media screen and (max-width: 1075px) {
    .wrap {

        // homePage 
        .homePage {
            .container {
                .centerblock {
                    width: 100%;
                    padding-bottom: 350px;

                    h1 {
                        padding: 0 100px;
                    }
                }

                .leftblock {
                    display: none;
                }

                .rightblock {
                    display: none;
                }
            }
        }

        // homePage END 
    }
}

@media screen and (max-width: 1000px) {
    .wrap {
        .footer {
            .topblock {
                .leftblock {
                    .inputblock {
                        button {
                            left: 140px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .wrap {
        .secondPage {
            .advantages {
                flex-direction: column;
            }

            .flowers {

                .flowerblock {
                    flex-wrap: wrap;
                    justify-content: center;

                    .plantItem {
                        margin-bottom: 50px;
                    }

                    .block {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .wrap {

        // homePage 
        .homePage {
            .header {

                .logo {
                    order: 1;
                }

                .nav {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    ul {
                        display: none;
                    }

                    i {
                        display: flex;
                        order: 3;
                    }
                }

                .buy {
                    order: 2;

                    .colo {
                        margin-top: -5px;
                    }
                }
            }

            .container {

                .centerblock {
                    h1 {
                        padding: 0 10px;
                    }

                    p {
                        padding: 0 50px;
                    }

                    .poshuk {
                        input {
                            width: 400px;
                        }

                        .search {
                            margin-left: -63px;
                        }
                    }
                }
            }
        }

        // homePage END 
        .secondPage {
            padding: 0;
        }

        .threethPage {
            .photoblock {
                flex-direction: column;

                .leftblock {
                    width: 100%;
                    margin-top: 50px;
                    margin-bottom: 60px;
                }

                .rightblock {
                    width: 100%;
                }


            }
        }

        .footer {
            padding: 20px;

            .topblock {
                flex-direction: column;

                .leftblock {
                    width: 80%;
                    align-items: center;

                    h2 {
                        text-align: center;
                    }

                    .inputblock {
                        input {
                            width: 400px;
                        }

                        input::placeholder {
                            font-size: calc(10px + 0.7vw);
                        }

                        button {
                            left: 300px;
                        }
                    }
                }

                .rightblock {
                    width: 100%;

                    .textblock {
                        padding-bottom: 120px;
                    }

                    .textblock1 {
                        padding-bottom: 150px;
                    }

                    .textblock2 {
                        padding-bottom: 200px;
                    }
                }

            }

            hr {
                margin-top: 60px;
            }


        }

    }
}

@media screen and (max-width: 820px) {
    .wrap {
        .threethPage {
            .photoblock {
                .leftblock {
                    margin-top: 100px;
                }
            }
        }

        .fourthPage {
            padding: 40px 0;
            flex-direction: column;

            .leftblock {
                width: 100%;

                .text {
                    align-items: center;
                }

                .mainblock {
                    .block {
                        .textblock {
                            justify-content: center;
                        }
                    }
                }
            }

            .rightblock {
                width: 100%;

                .photoblock {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .wrap {
        .homePage {
            .container {
                .centerblock {
                    .poshuk {
                        input {
                            width: 300px;
                        }

                        .search {
                            margin-left: -162px;
                        }
                    }
                }
            }
        }

        .threethPage {
            .photoblock {
                .leftblock {
                    margin-top: 260px;
                    margin-bottom: 60px;
                }
            }
        }

        .footer {
            .topblock {
                .leftblock {
                    .inputblock {
                        input {
                            width: 300px;
                        }

                        button {
                            left: 200px;
                        }
                    }
                }
            }
        }
    }
}